{% load static %}
<!DOCTYPE html>
<html lang = "ja">

<head>
    <meta charset="utf-8">
    <title>search</title>
</head>
<body>
    <h1>{{title}}</h1>
    <form action = "{% url 'index'%}" method="post">
        {% csrf_token %}
        キーワード<br>
        <input type = "text" name="searchname">
        <input type="submit" value = "検索">
    </form>
        <table>
            <tr>
                <th>履歴</th>
            </tr>

        {% for item in data %}
            <tr>
                <td>{{ item.word }}</td>
            </tr>
        {% endfor %}
        </table>
    </form>
</body>
</html>